*{
    box-sizing: border-box;
}


body{
    font-family: 'Nunito', sans-serif;
    line-height: 1.6;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.card{
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    width: 80%;
    min-width: 60px;
    display: flex;
    flex-direction: column;
    padding: 2em;
    background-color: #005e9b;
    text-align: center;
    color: white;

}

.profile-name{
    font-size: 2rem;
    line-height: 1.1;
    letter-spacing: 1px;
}

.profile-name::after {
    content: "";
    display: block;
    width: 2rem;
}

.profile-position{
    margin: 0;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 2px;
    color: #5bcbf0;
    margin-bottom: 2em;
}

.profile-body{
    font-weight: 300;
    margin-bottom: 0;
}

.profile-img{
    border-radius: 50%;
    border: 5px solid white;
}

@media (min-width: 600px) {
    .card {
        flex-direction: row;
    }
    .profile-main{
        text-align: letf;
        margin-left: 2em;
    }
    .profile-name::after {
        margin-left: 0;
    }
}